/* ================
    Global Changes
   ================ */
   
  body {
    font-family: 'Courgette';
    background-color: rgba(209, 171, 124, 0.747);  
    margin-left: 1em;
   }

   * {
       --headerColor:rgb(204, 186, 22);
       --navbarColor:rgb(207, 85, 85);
      
   }

/* ================
      Nav Styling
   ================ */

header {
    position: relative;
    margin-top: -8px;
    margin-left: -16px;
    margin-right: -8px;
    
}
header div {
    display: flex;
    list-style: none;
    flex-direction: column;
}

header .list-items-nav { 
    display: none;
    background-color: var(--headerColor);
}

header li {
    margin-left: 1em;
}

header .firstNav {
    display: block;
    background-color: var(--headerColor);
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
  

}






/* ================
   Page Content
   ================ */

   /* === Image Styles === */

   .switchingImages {
    overflow: hidden;
    
      
   }

   .switchingImages figure {
        position:relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 5s slider infinite;
   }

   .switchingImages figure img {
       width: 10%;
       float: left;
   }

   @keyframes slider {
       0% {
           left: 0;
       }
       20% {
           left: 0;
       }
       25% {
           left: -100%;
       }
   }

  

/* ================
      Components
   ================ */

/* === Input & Label === */

.hamburger {
    display: none;
   }

.hamburger:checked ~ .list-items-nav {
    display: block; 
   }

.hamburgerLabel {
    position: absolute;
    top: 4px;
    left: 1em;
    padding: 20px 0;
    /* height: 100%; */
    /* border: 1px solid red; */
    /* display: flex;
    align-items: center; */

}

.hamburgerLabel span,
.hamburgerLabel span::before,
.hamburgerLabel span::after {
    position: relative;
    display: block;
    background-color: black;
    height: 4px;
    width: 2em;
    border-radius: 150px;
}

.hamburgerLabel span::before {
    content: "";
    bottom: 10px;
}

.hamburgerLabel span::after {
    content: "";
    top: 5px
}



/* ========================
    Nav Styling For Desktop
   ======================== */   

@media only screen and (min-width: 800px) {
    

    header {
        
        background-color: rgb(207, 85, 85);
        margin-top: -8px;
        margin-left: -16px;
        margin-right: -8px;
        
    }

    header .firstNav {
        
        background-color: rgb(204, 186, 22);
        padding: 10px;
        font-size: 1.5em;
        text-align: center;
    }


    header .list-items-nav { 
        display: flex;
        list-style: none;
        flex-direction: row;
        background-color: var(--navbarColor);
    }

    header nav li {
        padding: 0px 10px 0px 10px;
        display: inline;
    }


    header a{
        color: rgba(255, 255, 255, 0.788);
    }


    #spanDesktop {
        display: none;
    } 

}

