/* ================
    Global Changes
   ================ */
   
   body {
       
   }

/* ================
    Elements
   ================ */

header {
    background-color: rgb(207, 85, 85);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
header nav { 
    display: flex;
    list-style: none;
}

header nav li {
    padding: 0px 10px 0px 10px;
}

/* ================
    Components
   ================ */