/* ================
    Global Changes
   ================ */
   
   body {
    font-family: 'Courgette';
       
   }

/* ================
    Nav Styling
   ================ */

header {
    background-color: rgb(207, 85, 85);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

header .firstNav {
    background-color: rgb(204, 186, 22);
    padding: 10px;
    font-size: 1.5em;
   
    

}
header nav { 
    display: flex;
    list-style: none;
}

header nav li {
    padding: 0px 10px 0px 10px;
}

/* ================
    Components
   ================ */